// Glyphicons font path
$icon-font-path: 		"../fonts/";


// Media Querys
$responsive-xs: 		767px;

// colores comunes // no borrar porque se usan en comun.css
$error: 				#FFB600;
$negro: 				#000000;
$blanco: 				#ffffff;
$blanco-oscuro: 		#efedea;

//colores proyecto
