/* centered columns styles */
header{
	top:0;
	width: 100%;
	height: 60px;
}
.row-centered {
	text-align:center;
}
.col-centered {
	display:inline-block;
	/* reset the text-align */
	text-align:left;
	/* inline-block space fix */
	margin-right:-4px;
	float: right;
}

.navbar-default {
	background-color: $negro;
	border:none;
	color: #d1d1d1;
	margin: 0;
	height: 100px;
	@media(max-width:$responsive-xs){
		height: 70px;
	}

	.navbar-header{
		@media(max-width:$responsive-xs){
			float: left;
			padding: 0 15px;
		}
	}
	.col-menu-center{
		width: 73%;
		float: right;
		margin-right: 0px;
		padding-right: 0;
		@media(max-width:"892px"){
			float: none;
			width: 100%;
		}
		.navbar-center{
// display: inline-block;
// float: none;
float: right;
@media(max-width:$responsive-xs){
	border:none;
	background-color: $negro;
	margin-top:0;
	width: 60%;
	float:right;
}
.navbar-collapse{
	border:none;
}
}

@media(max-width:$responsive-xs){
	margin-right: 0;
}
}
.navbar-nav {
	padding: 0 0 0 4px;
	margin-top: 26px;
	@media(max-width:$responsive-xs){
		padding: 0px;
		margin-bottom: 0px;
		margin-top: 0px;
	}
	li {
		list-style: none;
		line-height: 40px;
		width: 160px;
		margin: 0 5px;
		@media(max-width:$responsive-xs){
			text-align: center;
			line-height: 34px;
			background-color: $negro;
			margin-bottom: 1px;
		}
		a {
			color: #fff;
			font-size: 20px;
			font-weight: normal;
			padding: 0px 6px 40px 9px;
			height: 40px;
			display: block;
			line-height: 40px;
			border-bottom: 9px solid  $blanco;
			@media(max-width:$responsive-xs){
				border-right: none;
			}
			&:hover, &:focus, &.active { color: $blanco;}
		}
		.sin-href{
			color: #fff;
			font-size: 20px;
			font-weight: normal;
			padding: 0px 6px 0 9px;
			height: 40px;
			display: block;
			line-height: 40px;
			border-right: 9px solid  $gris;
			cursor:default;
			@media(max-width:$responsive-xs){
				border-right: none;
			}
			&:hover, &:focus, &.active { color: $blanco;}

		}
		&.active {
			@media(max-width:$responsive-xs){
				background-color: $negro;
			}
			a{
				background-color: $negro;
				font-family: "Klavika_Rg";
				color: $azul_claro_jata!important;
				text-decoration: none;
				border-bottom: 9px solid  $azul_claro_jata;
				&:hover{
					background-color: $negro;
					color: $azul_claro_jata!important;
				}
				&:focus,&:active{
					background-color: $negro;
					color: $azul_claro_jata!important;
				}
			}
			&:hover, &:focus, &.active { color:$gris;}
		}

		&:hover {
			@media(max-width:$responsive-xs){
				background-color: $gris;
			}
			a{
				// background-color: $gris;
				font-family: "Klavika_Rg";
				color: $azul_claro_jata!important;
				text-decoration: none;
				border-bottom: 9px solid  $azul_claro_jata;
				&:hover{
					// background-color: $gris;
					color: $azul_claro_jata!important;
				}
				&:focus,&:active{
					// background-color: $gris;
					color: $azul_claro_jata!important;
				}
			}
			&:hover, &:focus, &.active { color:$gris;}
		}


		&:after{
// content:" | ";
@media(max-width:$responsive-xs){
	content: "";
}
}
&#last:after{
	content:" ";


}
}
}
.navbar-right{
	padding-right: 15px;
	margin-top: 52px;
	@media(max-width:$responsive-xs){
		margin: 15px 0 0 0;
		padding:0;
		width: 225px;
		float: right;
	}
	a {
		color: $blanco;
		font-size: 20px;
		font-weight: normal;
		height: 40px;
		display: block;
		line-height: 40px;
		padding: 0px 6px 40px 9px;
		border-bottom: 9px solid  $blanco;
		&:hover, &:focus, &.active {
			color: $azul_claro_jata!important;
			border-bottom: 9px solid  $azul_claro_jata;
			text-decoration: none;
		}
		@media(max-width:$responsive-xs){
			display: inline-block;
		}
	}
	&.active {
		a{
			background-color: $gris;
			font-family: "Klavika_Rg";
			color: $azul_claro_jata!important;
		}
	}
	.navbar-toggle{
		background-color: $rojo;
		border:none;
		padding:18px;
		color: $blanco;
		margin: -20px -17px 0px 0;
		font-size: 10px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		.icon-bar{
			width: 34px;
			background-color: $blanco;
			height: 2px;
			margin-bottom: 6px;
		}
	}
	.fa-chevron-down{
		font-size: 10px;
	}
}



.color-fondo{
	background-color: $blanco;
	height: 46px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: -1;
	@media(max-width:$responsive-xs){
		height: 85px;
	}
}
.color-fondo2{
	background-color: $blanco;
	position: absolute;
	left: 0;
	top: 46px;
	height: 26px;
	width: 100%;
	z-index: -2;
}
.col-logo{
	@media(max-width:$responsive-xs){
		height: 85px;
		width: 135px;
		overflow: hidden;
		margin-left: -25px;
	}
}
.col-menu-1{
	@media(max-width:$responsive-xs){
		position: absolute;
		left: 0;
		top:84px;
		width: 100%;
		background-color: $blanco;
		border-top:none;
		margin: 0;
	}
	.navbar-collapse{
		border:none;
		@media(max-width:$responsive-xs){
			padding: 20px;
		}
	}
	ul{
		@media(max-width:$responsive-xs){
			margin: 0;
		}
	}
}
.col-menu-2{
	.navbar-toggle .icon-bar {
		background-color: #fff;
		width: 34px;
		height: 3px;
		margin-bottom: 6px;
	}
	@media(max-width:$responsive-xs){
		position: absolute;
		right: 0px;
		top:10px;
		width: 50%;
	}
	.js-btn-contacta{
		@media(max-width:$responsive-xs){
			position: absolute;
			right: 110px;
			top:30px;
		}
		.fa{
			@media(max-width:$responsive-xs){
				display: none;
			}
		}
		&.slide-abierto{
			.fa{
				-ms-transform: rotate(180deg); /* IE 9 */
				-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
				transform: rotate(180deg);
			}
		}
	}
	.navbar-toggle{
		@media(max-width:$responsive-xs){
			position: absolute;
			right: 15px;
			top:-15px;
			border:none;
		}
		span{
			color: #fff;
			font-size: 12px;
		}
		&:hover{
			background-color: $gris;
		}
	}
}



.cabecera-menu{
	max-width:920px;

}
.logo-cabecera{
	position: absolute;
	top: 0px;
	left: 0px;
}
.logotipos-menu {
	background-color: #fff;
	margin-top: -15px;
	padding-bottom: 15px;
}
.btn-menu-movil {
	background-color: #dedede;
	color: #000;
	font-size: 20px;
	font-weight: bold;
	min-height: 96px;
	padding: 30px 0 0;
	.navbar-toggle {

		margin: 0 0 0 -10px;
		padding: 8px;
		float: none;
		.icon-bar {
			background-color: #000;
		}
	}
}
}
.contacto-header{
	width: 100%;
	background-color: $blanco;
	padding-top: 40px;
	padding-bottom: 20px;
	display:none;
	transition:none;

	.banda-azul{
		background-color: $azul_jata;
		opacity: 0.8;
		color:$blanco;
		padding-top:10px;
		padding-bottom: 10px;
		h2{
			color:$blanco;
			font-size: 40px;
			font-family: 'Klavika_Rg'
		}	
	}


	form{
		font-family:"Klavika_Rg";
		p{
			margin-bottom: 25px;
			margin-top:45px;
			color:$azul_jata;
			font-size: 18px;
			line-height: 22px;
			font-family: 'Museo_Sans_Cyrl_100';
			strong{
				color:$azul_jata;
				&:hover{
					text-decoration: underline;
				}
			}
			a{
				color:$azul_jata;
			}
		}
		label{
			font-size: 20px;
			color: $azul_jata;
			font-family:"Klavika_Rg";
			font-weight: normal;
		}
		textarea{
			width: 100%;
			height: 100px;
			resize: none;
			padding: 10px;
			color:$gris;
			font-size: 18px;
			font-family: 'Museo_Sans_Cyrl_100';
		}
		input,select{
			padding: 5px;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			color:$gris;
			font-size: 18px;
			font-family: 'Museo_Sans_Cyrl_100';
		}
		input,select,textarea {
			border: none;
			background-color: #fff;
			-webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.9);
			box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.9);
			font-size: 18px;
			font-family: 'Museo_Sans_Cyrl_100';
		}
		input{
			&#inputcheckbox{
				display: block;
				width: 1px;height: 1px;border:none;position:absolute;left:-1000px;
			}
		}
		input[type=checkbox].css-checkbox:checked + label.css-label {
			background-position: 0 -25px;
		}
		.form-group{
			&.has-error{
				input,select,textarea{
					border: 1px solid $error;
					color: $error;
				}
				label{
					&.checkbox{
						color: $error;
						a{
							color: $error;
						}
					}	
				}
			}
		}
		label{
			&.checkbox{
				cursor: pointer;
				font-size: 18px;
				font-family: 'Museo_Sans_Cyrl_100';
				color:$azul_jata;
				font-weight: normal;
				background-image: url("../images/check-box.png");
				background-repeat: no-repeat;
				height: 25px;
				padding: 0 0 0 40px;
				a{
					text-decoration: underline;
					font-size: 18px;
					color:$azul_jata;
				}
			}
		}


		.boton{
			button{
				background-color: $negro;
				border-color: transparent;
				border-radius: 0px;
				color: #fff;
				font-size: 24px;
				height: 50px;
				font-family: "Klavika_Bd";
				padding: 0 40px;
				&:hover{
					background-color: $negro;
					color: $azul_claro_jata;
				}
			}
		}
		.col-check-contacta{
			@media(max-width:$responsive-xs){
				margin-top: 150px;
			}
		}
		.col-mensaje-contacta{
			@media(max-width:$responsive-xs){
				margin-top: -190px;
			}
		}
		.mini{
			font-size: 14px;
			line-height: 12px;
		}
	}
}
.navbar-side{
	position: fixed;
	left:50%;
	margin-left: -425px;
	margin-top:-100px;
	top:50%;
	z-index:100;
	ul{
		background-image: url("../images/linea-vertical-sidebar.png");
		background-repeat:no-repeat;
		background-position: center 9px;
		li {
			float:none;
			list-style: none;
			margin-bottom: 40px;
			a {
				padding: 0;
				display: block;
				-webkit-border-radius: 9px;
				-moz-border-radius: 9px;
				border-radius: 9px;
				width: 18px;
				height: 18px;
				border:5px solid rgba(255,255,255,0);
				.circulo{
					background-color: #FFF;
					width: 8px;
					height: 8px;
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
				}
			}
			&.active {
				a{
					border:5px solid rgba(255,255,255,.5);
				}
			}
			&:after{
				content:"·";
				@media(max-width:$responsive-xs){
					content: "";
				}
			}
			&:after{
				content:" ";
			}
		}

	}
	&.negativo{
		li{
			a {
				border:5px solid rgba(137,176,222,0);
				.circulo{
					background-color: $blanco;
				}
			}
			&.active {
				a{
					border:5px solid rgba(137,176,222,.5);
				}
			}
		}
	}
}
.spinner-holder {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none;
	background: rgba(255, 255, 255, 0.5) none repeat scroll 0px 0px;
}

#cookie-banner {
	display: none;
	position: relative;
	z-index: 9999;
	color: #3B3E44;
	background: white;
	border: 1px solid lightgray;
	padding: 15px ;
	font-size: 16px;
	font-family: 'dosisregular', sans-serif;
	top: -110px;
	@media(max-width:$responsive-xs){
		left: 15px;
		right: 15px;
		padding-right: 50px;
	}
	.closeCookie {
		background-image: none !important;
		cursor: pointer;
		float: right;
		font-size: 22px;
		height: 27px !important;
		text-indent: 0 !important;
		width: auto !important;
		margin-top: -10px;
		border-radius: 0px;
		color: $azul_claro_jata;
		display: block;
		opacity: 1;
		@media(max-width:$responsive-xs){
			left: 15px;
			right: 15px;
			margin-right: -30px;
			margin-top: 0;
		}
	}
	span {
		font-family: "Klavika_Rg";
		color: $azul_jata;
		text-decoration: none;
	}
	p {
		font-family: "Museo_Sans_Cyrl_100";
		color: $azul_jata;
		font-size: 18px;
		line-height: 20px;
		padding-top: 5px;
		a {
			text-decoration: underline;
			color: $azul_claro_jata;
		}
	}
	.btn-acepto {
		background-color: $negro;
		border-color: transparent;
		border-radius: 0px;
		color: #fff;
		text-shadow: 1px 1px 1px $gris;
		font-family: "Klavika_Rg";
		font-size: 22px;
		height: 36px;
		margin-top: 10px;
		padding: 4px 30px 0;
		width: 200px;
		@media(max-width:$responsive-xs){
			width: 100%;
		}
		&:hover{
			background-color: $negro;
			color:$azul_claro_jata;
		}
	}
}